/* VISUALIZAÇÃO PARA DESKTOP */

@media only screen and (min-width: 1026px) {
  /* Header (azul) */

  .bg_topo {
    background: #020183;
    color: white;
    text-align: right;
  }

  .header_topo ul {
    display: inline-block;
    margin: 0.3em 0.4em;
  }

  .header_topo ul li {
    display: inline-block;
    margin: 0.3em 0.4em;
  }

  /* Header Principal */
  .menu_abrir,
  .menu_fechar {
    display: none;
  }

  .header_principal .logo {
    text-align: left;
    margin: 1.5em 0em 1.5em 0em;
    display: inline-flex;
    width: 60%;
  }

  .barra_nav {
    float: right;
    width: 40%;
    margin: 4.5em 0em 0em 0em;
  }

  .barra_nav .barra_menu {
    list-style: none;
    display: flex;
  }

  .barra_menu {
    justify-content: space-between;
  }

  .barra_menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b6b6b6;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 350ms ease-in;
    padding: 1em;
  }

  .barra_menu ul {
    list-style: none;
    display: flex;
  }

  .barra_menu ul li {
    position: relative;
    text-align: center;
  }

  .barra_menu li:hover .submenu1 > li {
    top: 0;
    display: block;
  }

  .submenu1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #020183;
  }

  .submenu1 a {
    color: #ffffff;
  }

  .submenu1 li {
    display: none;
    position: relative;
  }

  .submenu1 li:hover .submenu2 li {
    display: block;
  }

  .submenu2 li {
    display: none;
  }

  .submenu2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: #020183;
    left: 100%;
    z-index: 1;
  }

  .submenu2 a {
    color: #ffffff;
  }

  /* MAIN - SLIDES */
  .principal_slides {
    background: #d1d1d1;
  }
  .slides ul li img {
    width: 100%;
  }

  /* MAIN - PRINCIPAL */

  .principal {
    font-size: 0.8em;
    margin-top: 1em;
    display: flex;
    padding-top: 1em;
    letter-spacing: 0.01em;
    justify-content: space-between;
  }

  .principal .texto {
    width: 450px;
    color: #9b9b9b;
  }

  .principal .texto h1 {
    font-size: 2em;
    color: #8b8b8b;
  }

  .principal .texto p {
    margin: 0.5em 0;
    color: #9b9b9b;
  }

  .principal .texto ul {
    text-align: left;
    color: #9b9b9b;
  }

  /* MAIN - BOXES */
  .principal_boxes h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: #8b8b8b;
  }

  .boxes {
    color: grey;
    font-size: 0.8em;
    justify-content: space-between;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .boxes .imagem {
    width: 200px;
  }

  .boxes .imagem p {
    padding: 1em 0em;
    text-align: left;
  }

  .boxes .imagem p a {
    text-decoration: none;
    color: #8b8b8b;
  }

  /* RODAPE */

  .rodape {
    background: #454545;
    color: white;
    text-align: center;
    padding: 1em 0;
  }

  .rodape ul li {
    display: inline;
    padding: 0.2em;
    font-size: 0.8em;
  }
}
