/* VISUALIZAÇÃO PARA TABLETS */

@media only screen and (min-width: 426px) and (max-width: 1025px) {
  /* Header (azul) */
  .bg_topo {
    text-align: center;
  }
  .header_topo ul {
    display: inline-block;
    margin: 0.3em 0.4em;
  }

  .header_topo ul li {
    display: inline-block;
    margin: 0.3em 0.4em;
  }

  /* Header Principal */
  .header_principal .logo {
    text-align: center;
    margin-bottom: 1.5em;
  }

  .header_principal .logo img {
    width: 100%;
  }

  .barra_menu {
    overflow-y: scroll;
  }

  .barra_nav .barra_menu {
    background: #f0f0f0;
    padding: 1em;
    margin: 0;
    float: left;

    height: 100%;
    width: 90%;
    max-width: 220px;

    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;

    transition: left 0.3s ease-out;
  }

  .menu_ativo .barra_menu {
    left: 0;
  }

  .barra_menu li {
    padding: 0.5em 0;
    width: 100%;
  }

  .menu_ativo:after {
    content: "";
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.4);
  }

  .barra_menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #020183;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 350ms ease-in;
  }

  .barra_menu a:hover {
    background: rgb(91, 135, 192);
    color: #fff;
  }

  .barra_menu ul {
    list-style: none;
    display: flex;
  }

  .barra_menu ul li {
    position: relative;
    text-align: center;
  }

  .barra_menu li:hover .submenu1 > li {
    top: 0;
    display: block;
  }

  .submenu1 {
    display: flex;
    flex-direction: column;
  }

  .submenu1 li {
    display: none;
    position: relative;
  }

  .submenu1 li:hover .submenu2 li {
    display: block;
  }

  .submenu2 li {
    display: none;
  }

  .submenu2 {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 100%;
  }

  /* MAIN - SLIDES */

  .slides ul li img {
    margin-top: 1em;
    width: 100%;
  }

  /* MAIN - PRINCIPAL */

  .principal {
    font-size: 0.8em;
    margin-top: 1em;
  }

  .principal .texto {
    width: 100%;
  }

  .principal .texto h1 {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }

  .principal .texto p {
    margin: 0.5em 0;
  }

  .principal .texto ul {
    text-align: left;
  }

  .principal .imagem {
    text-align: center;
    margin: 2em 0;
  }

  /* MAIN - BOXES */

  .principal_boxes h1 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: grey;
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .boxes .imagem {
    margin: 2em 0em 2em 0em;
    text-align: center;
    width: 40%;
  }

  .boxes .imagem p {
    padding: 1em 0em;
    text-align: left;
  }

  .boxes .imagem p a {
    text-decoration: none;
    color: #8b8b8b;
  }

  .boxes .imagem img {
    width: 100%;
  }

  /* RODAPE */

  .rodape {
    text-align: center;
    padding: 1em 0;
  }

  .rodape ul li {
    display: inline;
    padding: 0.2em;
    font-size: 0.8em;
  }
}
